
// propiedades carpetas
@import "../sass/base/header";
@import "../sass/base/footer";
@import "../sass/base/embajadores";
@import "../sass/base/nosotros";
@import "../sass/components/mediasqueries";
@import "../sass/base/mapas";
@import "../sass/base/extends";
@import "../sass/base/mixins";

// variables

$color-de-fondo: #f5f5f5;
$color-principal: rgb(253, 116, 116);
$medida-imagenes-emb: 30vw;

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: 'Staatliches', cursive;
    background-color: $color-de-fondo;

}


/* texto promociones en index "no te pierdas..." */

.texto-promos a{
    text-decoration: none;
    color: $color-principal;
    padding: 0.5vw;
    margin: 0;

}

.btn{
            
            @extend %botones;
}







