$medida-celular: 320px;
$medida-tablet: 1000px;
$medida-desktop: 1100px;

@import "../base/mixins";



@media  screen and (min-width: $medida-celular) and (max-width: $medida-tablet) {
    #texto-lorem{
        display: none; 
    }

    .titulo{
        display: none;
    }

    #lorem{
        display: block;
        text-align: center;
        width: 100vw;   
    }

    .promociones{
        text-align: center;
    }

    .descuento-none{
       display: none;
    }

   #redes{
       display: flex;
       justify-content: space-around;
       
   }

   #redes img{
       width: 60px;
       height: 60px;
   }

    #form{
       margin: 0.1em;
       
   }

   .cards{
       @include display;
   }

   .carrusel-item{
       width: 20%;
       display: flex;
       justify-content: center;
   }

   .galeria{
       @include display;
   }
}

@media screen and (min-width: $medida-desktop) {
    .img-agrandar:hover {
        animation-name: agrandarF;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function:step-start;
    }
    
    @keyframes agrandarF{
        from{
            transform: scale(1.0);
        }
        to{
            transform: scale(1.2);
        }
    }
}